.SearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.SearchWrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-secondary);
  border: 2px solid var(--color-accent);
  border-radius: 30px; /* 药丸形状 */
  padding: 10px 15px;
  width: 70%;
  /* max-width: 600px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.SearchWrapper:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.SearchIcon {
  color: var(--color-primary);
  margin-right: 10px;
}

.SearchBar {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  color: var(--color-primary);
  padding: 0;
}

.SearchBar::placeholder {
  color: var(--color-placeholder);
  opacity: 0.7;
}
